*
!.gitignore
!LICENSE
!THIRD_PARTY.md
!README.md
!nextplaate.user.js
!.github/
!.github/**
!scripts/
!scripts/**
!src/
!src/**
!tests/
!tests/**
__pycache__/
*.pyc
.pytest_cache/
!tools/
!tools/**
nextplaate.dev.user.js
