*
!.gitignore
!LICENSE
!THIRD_PARTY.md
!README.md
!nextplaate.user.js
!.github/
!.github/**
!scripts/
!scripts/**
!src/
!src/**
!tests/
!tests/**
!data/
!data/**
!docs/
!docs/**
!logo_nextplaate.svg
!pytest.ini
!CHANGELOG.md
!.gitattributes
__pycache__/
*.pyc
.pytest_cache/
!tools/
!tools/**
nextplaate.dev.user.js
